/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* default font */
}

body * {
  font-family: inherit;
}

/* TEXT EXAMPLE */
h1 {
  font-size: 50px;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

h2 {
  font-size: 50px;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: bold;
}

p {
  font-size: 50px;
}

.navbar-first {
  width: 100%;
  height: 40px;
  /* background-color: lightgrey; */
}

.navbar-second {
  width: 100%;
  height: 72px;
  background-color: yellow;
}

.navbar-third{
  width: 100%;
  height: 0px;
  background-color: green;
}

.test {
  height: 100%;
}

.icon-left {
  float: left;
  border: thin solid grey;
}

.jordan {
  font-size: 20px;
  line-height: 1.2;
}
.jordan:hover {
  color: black;
}

.hurley {
  font-size: 14px;
  line-height: 1.71428;
}
.hurley:hover {
  color: black;
}

.converse {
  font-size: 12px;
  line-height: 2;
}
.converse:hover {
  color: black;
}



.border-nav-icon {
  color: #757575;
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  padding: 8px 28px 8px 28px;
  display: block;
  text-decoration: none;
}

.main {
  margin: 0 48px;
}

@media screen and (max-width: 1008px) {
  .navbar-third {
    height: 112px;
  }
  .navbar-first, .navbar-second {
    height: 0px;
  }

}
